<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">×</a>
  <a href="./">About</a>
  <a href = "./slime.html">Slime</a>
  <a href = "./Pixel.html">Pixel</a>
  <a href = "./2DCollision.html">2DColl</a>
  </div>